.collection-title {
  margin-top: 56px;
}

.search-text {
  color: #ffc107;
}

.search-text:hover {
  color: #9e7701;
}

.collection-info {
  display: flex;
  align-items: center;
  justify-content: center;

  .by-line {
    text-transform: capitalize;
  }
}